h1 {
    font-family: $lato;
    font-weight: $black;
    font-size: $xx-large;
    text-align: center;
    color: $negro;
}

h2 {
    font-family: $lato;
    font-weight: $bold;
    font-size: $x-large;
}

p {
    font-family: $lato;
    font-weight: $light;
    font-size: $medium;
    color: $azul;
}

h3 {
    font-family: $lato;
    font-weight: $regular;
    font-size: $medium;
    color: $negro;
}