@import url('<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,900&display=swap" rel="stylesheet">');
$lato: 'Lato',
sans-serif;
// Esquema de colores 
// Primer esquema de color
$verde: #7CEA9C;
$azul: #2D3047;
$negro: #071013;
$blanco: #FFFFFF;
// Tipografia
$lato: 'Lato',
sans-serif;
// Peso de fuentes
$light: 300;
$regular: 400;
$bold: 700;
$black: 900;
// Tamaño de fuentes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;