.container {
    display: flex;
    flex-wrap: nowrap;
    // border: 2px solid black;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    height: auto;
    width: 100%;
    margin: 0 auto;
}